<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<title>Dash</title>
</head>

<body>

	<div class="content">
		<h1> DataBase Dashboard: </h1>
		<div class="dash_items">
			<a href="/students">
				<section class="card">
					<h2>
						<%= studentCount %>
					</h2>
					<h3> Students </h3>
				</section>
			</a>
			<a href="/Team_Peryton">
				<section class="card">
					<h2>
						<%= Team_PCount %>
					</h2>
					<h3> Team_Peryton </h3>

				</section>
			</a>
			<a href="/aero">
				<section class="card">
					<h2>
						<%= AeroCount %>
					</h2>
					<h3> Aerodynamics </h3>
				</section>
			</a>

			<a href="/prop">
				<section class="card">
					<h2>
						<%= PropulsionCount %>
					</h2>
					<h3> propulsion </h4>
				</section>
			</a>


		</div>

	</div>
<!-- need to add desctiptions of each database to summarise it -->

</body>

</html>